<!DOCTYPE html>  
<html>  
<head lang="en">  
    <meta charset="UTF-8" />
    <title>出错</title>
</head>  
<body>  
    <h1>出错了</h1>
    <p>$!{url}</p>
    <div>$!{exception.message}</div>
</body>
</html>